<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Chat Room</title>
    <link rel="stylesheet" href="/chat.css">
  </head>
  <body>
    <div class="rps-wrapper">
      <ul id="events"></ul>
      <div class="controls">
        <div class="chat-wrapper">
          <form id="chat-form">
            <input id="chat" autocomplete="off" title="chat"/>
            <button id="say">Say</button>
          </form>
        </div>
      </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="client/src/client.js"></script>
  </body>
</html>