* { margin: 0px; padding: 0px; }
body {
	font-size: 120%;
	background: #F8F8FF;
}
.flex{
      display:flex;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 15px;
      justify-content: space-between;
}

header{
    background-color: #8B008B;
    padding: 20px 0;
    height: 40px;
    position: relative;
    border-bottom: 1px solid #FF8320;

}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: auto;
    border-spacing: 0px;
    border-collapse: initial;
    position: absolute;

}

.hamburger-menu{
    background-color: transparent;
    border: 1px solid #FF8320;
    padding: 3px 5px;
    width: 30px;
    cursor: pointer;
    display:none;
}
.hamburger-menu .strip{
    display: block;
    height: 1px;
    background-color: #FF8320;
    margin: 4px 0;
    
}

nav ul{
    list-style:none;
    padding: 0;
    margin: 20px;
    position: absolute;
    left: 40%;
}

nav ul li{
    display: inline-block;
    font-size: 1em;
    margin: 0 50px;
}

nav ul li a{
    color: #eee;
    font-weight: 600;

}

nav ul li a:hover{
    color: #ff8320;
}
.logo p{ 
    font-family: myFirstFont;
    height: 30%;
   src: url(sansation_light.woff);
   font-weight: bold;
   font-size: 2.5em;
   position: absolute;
 
}


.header-title {
	width: 40%;
	margin: 0px auto 0px;
	color: white;
	background-color: rgba(72, 151, 89, 0.3);
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 20px 20px 0px 0px;
	padding: 20px;
    position: absolute;
    top: 30%;
    left: 30%;
    
    
}
#nav-menu-continer span{
    color:#FF8320;
}
#car-picture{
    background: url("pics/bg1.jpg") no-repeat;
    background-size: cover;
    height: 770px;
    
}
.column {
	width: 50%;
	margin: 50px auto 0px;
	color: white;
	background: #5F9EA0;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 50px;
}
.btn1:after {
  content: "";
  display: table;
  clear: both;
  padding: 30px;
  font-size: 15px;
  color: white;
  background: #5F9EA0;

}
form, .content {
	width: 40%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #B0C4DE;
	background-color: rgba(72, 151, 89, 0.3);
	border-radius: 0px 0px 10px 10px;
    position: absolute;
    top: 40%;
    left: 30%;
}
.input-group {
	margin: 10px 0px 10px 0px;
}
.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
    color: white;
}
.input-group input {
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.sign-up p{
    color:white;
}
.sign-up a{
    color: rgba(72, 151, 89);
    font-size: 1.4em;

}
#user_type {
	height: 40px;
	width: 98%;
	padding: 5px 10px;
	background: white;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.btn {
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #5F9EA0;
	border: none;
	border-radius: 5px;
}
.error {
	width: 92%;
	margin: 0px auto;
	padding: 10px;
	border: 1px solid #a94442;
	color: #a94442;
	background: #f2dede;
	border-radius: 5px;
	text-align: left;
}
.success {
	color: #3c763d;
	background: #dff0d8;
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}
.profile_info img {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 5px;
	float: left;
}
.profile_info div {
	display: inline-block;
	margin: 5px;
}
.profile_info:after {
	content: "";
	display: block;
	clear: both;
}
.homepage a{
    color: rgba(72, 151, 89);
    font-size: 1.2em;

}
.alert{
	width: 40%;
	margin: 0px auto 0px;
	color: white;
	background-color: rgba(255,99,71, 0.3);
	text-align: center;
	border: 1px solid #B0C4DE;
	border-radius: 20px 20px 20px 20px;
	padding: 20px;
    position: absolute;
    top: 20%;
    left: 30%;
}
.col1{
	width: 15%;
	height: 60%;
	margin: 0px auto 0px;
	color: white;
	background-color: #FF8320;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 20px 20px 20px 20px;
	padding: 20px;
    position: absolute;
	top: 20%;
	
}
.col2{
	width: 35%;
	margin: 0px auto;
	border: 1px solid #B0C4DE;
	background-color: rgba(72, 151, 89, 0.3);
	border-radius: 20px 20px 10px 10px;
    position: absolute;
    top: 40%;
    left: 30%;

}
.avatar-ctn{
	background-color: orange;
	text-align: center;
	
}
.avatar{
	border-bottom: 1px solid;
	
	
}
.col2 .card-header{
	margin: 0px auto 0px;
	color: white;
	background-color: rgba(72, 151, 89, 0.3);
	text-align: center;
	border: 1px solid #B0C4DE;
	border-radius: 20px 20px 0px 0px;
	padding: 20px;
	top: 50%;
   
}