html {
    box-sizing: border-box;
}
  
  *,* ::before, *::after {
    box-sizing: border-box;
  }


.circle{
    background-color: #FF8320;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    position: absolute;
    right: 45%;
    bottom: -40%;
    

}
.circle-txt{
    position: absolute;
    font-family: 'helvetica','sans-serif';
    text-align: center;
    font-weight: 300;
    font-size: 1.5em;
    bottom: 40%;
    width: 100%;

}
.circle:hover{
    opacity: 4;
    cursor: pointer;
}

.cm-popup{
    display:none;
    position:absolute;
    top: 20%;
    right: 18%;
    border: 1px solid #B0C4DE;
    border-radius: 20px 20px 0px 0px;
    z-index: 9;
    width: 60%;
    height: 100%;
}
.form-popup {
  display: none;
  position:absolute;
  top: 0%;
  left: 0;
  border: 3px solid #f1f1f1;
  border: 1px solid #B0C4DE;
  border-radius: 20px 20px 0px 0px;
  z-index: 9;
  width: 110%;
  height: 110%;
}
.multi-content {
  padding: 31px;
  background-color: rgba(72, 151, 89, 0.5);
  border: 1px solid #B0C4DE;
  border-radius: 20px 20px 0px 0px;
}
.form-container {
  padding: 7px;
  background-color: rgb(173, 28, 96);
  border: 1px solid #B0C4DE;
  border-radius: 20px 20px 0px 0px;
}
.form-container input[type=text]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.multi-content .btn-single{
  background-color: #ff8320;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}
.multi-content .btn-single p{
    font-size: 2.5em;
}
.multi-content .btn-multi {
  background-color: #ff8320;
  color: white;
  padding:10px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}
.multi-content .btn-multi p{
    font-size: 2.5em;
}
.multi-content .btn-cancel{
  background-color: #79d7e4;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 50%;
  margin-bottom:10px;
  opacity: 0.8;
}
.multi-content .btn-start{
  background-color: #79d7e4;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 50%;
  margin-bottom:10px;
  opacity: 0.8;
}
.multi-content .btn-cancel{
  background-color: red;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 50%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add some hover effects to buttons */
.multi-content .btn-single:hover, .btn-multi:hover{
  opacity: 1;
}

body {
      font-family: 'helvetica','sans-serif';
      margin: 0;
   /* */
}
  h1, h2, h3, h4, h5{
      line-height: 1.5;
      font-weight: 300;
      margin: 0.5em 0;

}

h1{
      font-size: 2.5em;
}
h2{
      font-size: 2em;
}
h3{
      font-size: 1.6em;
}
h4{
      font-size:1.4em;
}
h5{
      font-size:1.2em;
}
a{
      text-decoration: none;
}
p,label,strong{
      line-height: 2;
      font-size: 0.85em;
      font-weight: 300;
  }
.flex{
      display:flex;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 15px;
      justify-content: space-between;
}

header{
    background-color: #8B008B;
    padding: 20px 0;
    height: 70px;
    position: relative;
    border-bottom: 1px solid #FF8320;

}

  /*table styles*/
table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: auto;
    border-spacing: 0px;
    border-collapse: initial;
    position: absolute;

}

.hamburger-menu{
    background-color: transparent;
    border: 1px solid #FF8320;
    padding: 3px 5px;
    width: 30px;
    cursor: pointer;
    display:none;
}
.hamburger-menu .strip{
    display: block;
    height: 1px;
    background-color: #FF8320;
    margin: 4px 0;
    
}

nav ul{
    list-style:none;
    padding: 0;
    margin: 20px;
    position: absolute;
    left: 40%;
}

nav ul li{
    display: inline-block;
    font-size: 1em;
    margin: 0 50px;
}

nav ul li a{
    color: #eee;
    font-weight: 600;

}

nav ul li a:hover{
    color: #ff8320;
}

.logo p{ 
    font-family: myFirstFont;
    height: 30%;
   src: url(sansation_light.woff);
   font-weight: bold;
   font-size: 3em;
   position: absolute;
   bottom: 0%;
  
}



#car-picture{
    background: url("pics/bg1.jpg") no-repeat;
    background-size: cover;
    height: 720px;
    
}

.car-game-text{
    max-width: 1200px;
    margin: -30px auto 0;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    padding: 0 20px;
}

.car-game-text h1{
    color: #eee;
    font-size: 3.5em;
    font-weight: 300;
    margin: 0.5em 0;
}
.car-game-text span{
    color:#FF8320;
}
  
.car-game-text h5{
      color: #eee;
      font-size: 0.85em;
      font-weight: 300;
      max-width: 500px;
      line-height: 2;
      margin-bottom: 2.5em;
}

#posts-comments{
    background: url("pics/FBI.png") no-repeat;
    background-size: cover;
    padding: 75px 0;
}

#posts-comments .game-maze{
    flex-basis: 32%;
    position: relative;
}

#posts-comments .game-maze p{
    color: #eee;
    font-weight: 600;
}

#posts-comments .game-maze img{
    margin-bottom: 0.5em;
}

#posts-comments .posts-comments-box{
    flex-basis: 28%;
    background-color: #252525;
    padding: 20px 20px 25px;
    border: 1px solid #4a4a4a;
}

#posts-comments .posts-comments-box h3{
    color: #eee;

}

.post-item{
    margin-top: 25px;
}

.post-item:first-child{
    margin-top: 0;

}

.post-item:after{
    content: "";
    display: table;
    clear: both;
}

.post-item img{
    float: left;
    width: 30%;
}

.post-item > div{
    float: left;
    margin-left: 5%;
    width: 65%;
}

.post-item > div h5{
    color: #FF8320;
    font-size: 0.8em;
    margin-top: 0;
}

.post-item > div p{
    color: #eee;
    margin: 5px 0;
    font-size: 00.8em;
}

.post-item > div small{
    color: #999;
    font-size: 0.75em;
}
.comments-item{
    margin-top: 1em;
}

.comments-item:first-child{
    margin-top:0;
}

.comments-item::after{
    content: "";
    display: table;
    clear: both;
}

.comments-item img{
    width: 23%;
    height: auto;
    border-radius: 50%;
    float: left;
}

.comments-item > div{
    float: left;
    margin-left: 7%;
    width: 70%
}

.comments-item > div p{
    color: #eee;
    font-size: 00.8em;
    margin: 0 0 5px;
}

.comments-item > div p span{
    color: #999;

}
.comments-item >div p span.authot{
    color: #E92159;
}

.comments-item > div h5{
    color: #FF8320;
    font-size: 0.8em;
    margin-top: 0;
}

footer{
    background-color: #252525;
    padding: 25px 0 20px;
}

footer small .footer-heart{
    font-size: 16px;
    color: #ddd;
}
footer small p{
    color: #ddd;
}

footer ul{
    list-style-type: none;
    margin: 0;
    

}

footer ul li{
    display: inline-block;
    margin: 0 12px;
}

footer ul li a{
    color: #ddd;
    font-size: 0.8em;
}

/*Styles for maze*/
