
@mixin transition {
    transition-property: background-color opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

html,
body {
    width: 100vw;
    height: 100vh;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#instructions {
    width: 300px;
    height: 250px;
    padding: 0px;
    border: 5px solid gray;
    background-color: rgba(72, 151, 89, 0.3);
    margin: 0;
    position: fixed;
    top: 5px;
}
#instructions .car{
    position: relative;
    top: 60px;
    right: 20px;
    
}
#instructions .arrowup{
    position: relative;
    top: 20px;
    left: 20px;
}
#instructions .arrowb{
    position: relative;
    top: 80px;
    right: 32px;
}

#instructions .arrowl{
    position: relative;
    top: 51px;
    right: 120px;
}
#instructions .arrowr{
    position: relative;
    bottom: 3px;
    left: 50px;
}
h1{
    line-height: 1.5;
    font-weight: 200;
    font-size: 1.5em;
    margin: 0.5em 0;
    position: relative;
    top: 0;
    right: 10px;
    color: antiquewhite;

}

#mazeContainer {
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: linear;
    opacity: 0;
    display: inline-block;
    background-color:   rgba(39, 143, 61, 0.3);
    margin: auto;

    
}

input,
select {
    @include transition;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.30);
    height: 45px;
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    appearance: none;
}


.custom-select {
    display: inline-block;
    
}

#Message-Container {
    visibility: hidden;
    color: white;
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.30);
    z-index: 1;
    #message {
        width: 300px;
        height: 300px;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-left: -150px;
        margin-top: -150px;
    }
}

#page {
    font-family: "Segoe UI", Arial, sans-serif;
    text-align: center;
    #menu {
        margin: auto;
        padding: 10px;
        height: 45px;
        box-sizing: border-box;
        h1 {
            margin: 0;
            margin-bottom: 10px;
            font-weight: 600;
            font-size: 3.2rem;
        }
    }
    #view {
        position: absolute;
        top:65px;
        bottom: 0;
        left: 0;
        right: 0;
        width: 70%;
        height: auto;
           
    }
}

.border {
    border: 7px green solid;
    border-radius: 15px;
}



#gradient {
    z-index: -1;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    color: #fff;
    background-size: 100% 250%;
    background-image: url("pics/bg.png");
    animation: Gradient 45s ease infinite;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 400px) {
     input, select{
         width: 120px;
     }
 }

