<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/register.css">
  <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat&display=swap" rel="stylesheet">

  <title>Profile</title>
</head>
<body>
<header>
    <div class = "flex">
        <div class = "logo">
            <p class="splash-title">Battleship</p>
        </div>
        <nav>
            <button id="nav-toggle" class="hamburger-menu">
                <span class="strip"></span>
                <span class="strip"></span>
                <span class="strip"></span>
            </button>
            <ul id="nav-menu-continer">
                <li><a href="/">Home</a></li>
                <li><a href="/profile"><span>Profile</span></a></li>
                <li><a href="/auth/logout">Logout</a></li>
                <li><a href="/contact">Contact</a></li>


            </ul>
        </nav>
        
    </div>
</header>
<div class="animation-wrapper">
		<div class="water">
			<ul class="waves">
				<li class="wave-one" style="background-image: url('https://i.postimg.cc/7LtCC11Y/wave1.png');"></li>
				<li class="wave-two" style="background-image: url('https://i.postimg.cc/P5hv05rh/wave2.png');"></li>
				<li class="wave-three" style="background-image: url('https://i.postimg.cc/63Dyc91k/wave3.png');"></li>
				<li class="wave-four" style="background-image: url('https://i.postimg.cc/1tg8DgM0/wave4.png');"></li>
			</ul>
		</div>
		<div class="boat" style="background-image: url('https://i.postimg.cc/GmQTRnHD/boat2.png');"></div>
		<div class="cloud" style="background-image: url('https://i.postimg.cc/VNkrLZCV/cloud-md.png');"></div>
		<div class="cloud2" style="background-image: url('https://i.postimg.cc/VNkrLZCV/cloud-md.png');"></div>
	</div>
<section id = "car-picture">
  <div class="container">
    <div class="row">
      <div class="col1">
        <div class="card">
          <div class="avatar-ctn">
            <img src="/pics/profile.jpg" class="avatar" alt="user profile picture"/>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{user.name}}</h5>
            <p class="card-text">
              The First on every game, the unsank, breaker of Highscores.</p>
            <a href="#" class="btn btn-primary">{{user.email}}</a>
          </div>
        </div>
      </div>

      <div class="col2">
        <div class="card-text">
          <div class="card-header">
            Welcome!
          </div>
          <div class="card-body">
            <h5 class="card-title">Hey {{user.name}} welcome back</h5>
            <p class="card-text">We hope you like our website and are enjoying the game availabe! 
              If you have any doubts please contact us <a href="/contact">here.</a></p>
            <a href="/" class="btn-home">Go Home</a>
          </div>
        </div>
      </div>
    </div>
    

  </div>

</body>
</section>
</html>