<!DOCTYPE html>
<html lang="en" dir="ltr" >

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" type="text/css" href="/contact.css" media="all" />
    <script src="/app.js" charset="utf-8"></script>
    
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat&display=swap" rel="stylesheet">
    

    <title>Battleship Game</title>
</head>
<header>
    <div class = "flex">
        <div class = "logo">
            <p class="splash-title">Battleship</p>

        </div>
        <nav>
            <button id="nav-toggle" class="hamburger-menu">
                <span class="strip"></span>
                <span class="strip"></span>
                <span class="strip"></span>
            </button>
            <ul id="nav-menu-continer">
                <li><a href="/">Home</a></li>
                <li><a href="/contact"><span>Contact</span></a></li>


            </ul>
        </nav>
        
    </div>
</header>




<div class ="wrapper">
    <div class="title">
        <h1>Contact us Form</h1>
    </div>
    <div class= "contact-form">
        <div class= "input-fields">
            <input type="text" class="input" placeholder="Name">
            <input type="text" class="input" placeholder="Email Address">
            <input type="text" class="input" placeholder="Phone">
            <input type="text" class="input" placeholder="Subject">
        </div>
        <div class="msg">
            <textarea placeholder="Message">
            </textarea>
             <button class="btn splash-btn" onclick="openText()">Submit</button>
                   <div class="form-popup" id="Text">
                       <form class="form-container">
                           <h1>Form Submitted</h1>
                           </form>
                           </div>
        </div>
    </div>
    </div>
        </div>
    </div>
</div>
</html>
